@import "tailwindcss";

@theme {
  --font-sans: "Prompt", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #2F27CE;
  --color-primary-mid: #433BFF;
  /* ... ตัวแปรสีเดิม */
}

:root {
  --color-primary: #2F27CE;
  --color-primary-mid: #433BFF;
  --color-primary-light: #DEDCFF;
  --color-danger: #FF383C;
  --color-success: #34C759;
  --color-warning: #FFCC00;
  --color-surface: #F3F4F6;
  --color-border: #E5E7EB;
  --color-text-primary: #000000;
  --color-text-secondary: #111111;
  /* --color-text-primary: #050315;
  --color-text-secondary: #6B7280; */
}